{% extends "layout.html" %}
{% block content%}
    <h1>About Page</h1>
    <!-- {% for post in posts%}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{"Make Fast Rapid Transit Great"}}</a></h2>
            <p class="article-content">{{ "it started in 2023" }}</p>
            </div>
        </article>
    {% endfor %} -->
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <p1> Make Mid Rail Transit great</p1>
            <p2> Started in the year of 2023!
            </p2>
        </div></div>
        </article>
{% endblock content%}



